<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>The Guest List</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Sacramento&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
      integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>
    <div class="wrapper">
      <header>
        <nav class="navbar" role="navigation" aria-label="main navigation">
          <div class="navbar-menu is-active">
            <div class="navbar-start">
              <a id="home-link" class="is-size-3 navbar-item" href="/">The Guest
                List</a>
            </div>
            <div class="navbar-end">
              <p><a
                  href="#ex1"
                  rel="modal:open"
                  class="px-3 is-size-4 navbar-item"
                >Sign Up</a></p>
              <button
                class="px-3 is-size-4 navbar-item btn-no-style"
              >Login</button>
              <button
                id="logout"
                class="px-3 is-size-4 navbar-item btn-no-style"
              >Logout
              </button>
            </div>
          </div>
        </nav>
      </header>
      <main>
        {{{body}}}
      </main>
      <div id="ex1" class="modal sign-up">
        <h1 class="title">Sign Up</h1>
        <form>
          <div class="field">
            <p class="control has-icons-left has-icons-right">
              <input class="input" type="text" placeholder="First Name" />
              <span class="icon is-small is-left">
                <i class="fas fa-regular fa-user"></i>
              </span>
            </p>
          </div>
          <div class="field">
            <p class="control has-icons-left has-icons-right">
              <input class="input" type="text" placeholder="Last Name" />
              <span class="icon is-small is-left">
                <i class="fas fa-regular fa-user"></i>
              </span>
            </p>
          </div>
          <div class="field">
            <p class="control has-icons-left has-icons-right">
              <input class="input" type="email" placeholder="Email" />
              <span class="icon is-small is-left">
                <i class="fas fa-envelope"></i>
              </span>
            </p>
          </div>
          <div class="field">
            <p class="control has-icons-left">
              <input class="input" type="password" placeholder="Password" />
              <span class="icon is-small is-left">
                <i class="fas fa-lock"></i>
              </span>
            </p>
          </div>
        </form>
        <a href="#" rel="modal:close"></a>
        <input class="button is-primary" type="submit" value="Submit" />
      </div>
    </div>
    <!-- Remember to include jQuery :) -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"
    ></script>

    <!-- jQuery Modal -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"
    ></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css"
    />
  </body>

</html>