<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>The Guest List</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Fredoka:wght@300&family=Sacramento&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>
    <div class="wrapper">
      <header>
        <nav class="navbar" role="navigation" aria-label="main navigation">
          <div class="navbar-menu is-active">
            <div class="navbar-start">
              <a id="home-link" class="is-size-3 navbar-item" href="/">The Guest
                List</a>
            </div>
            <div class="navbar-end">
              <button
                id="signup"
                class="px-3 is-size-4 navbar-item js-modal-trigger btn-no-style"
                data-target="modal-sign-up"
              >Sign Up</button>
              <button
                id="login"
                class="px-3 is-size-4 navbar-item btn-no-style"
              >Login</button>
              <button
                id="logout"
                class="px-3 is-size-4 navbar-item btn-no-style"
              >Logout
              </button>
            </div>
          </div>
        </nav>
      </header>
      <main>
        {{{body}}}
      </main>
      <!-- sign up modal start -->
      <div id="modal-sign-up" class="modal">
        <div id="modal-background-signup" class="modal-background"></div>

        <div class="modal-content">
          <div class="box">
            <h1 class="title">Sign Up</h1>
            <!-- bulma signup form-->
            <form id="signup-form">
              <div class="field">
                <p class="control has-icons-left has-icons-right">
                  <input
                    id="firstname-signup"
                    class="input"
                    type="text"
                    placeholder="First Name"
                  />
                  <span class="icon is-small is-left">
                    <i class="fa fa-regular fa-user"></i>
                  </span>
                </p>
              </div>
              <div class="field">
                <p class="control has-icons-left has-icons-right">
                  <input
                    id="lastname-signup"
                    class="input"
                    type="text"
                    placeholder="Last Name"
                  />
                  <span class="icon is-small is-left">
                    <i class="fa fa-regular fa-user"></i>
                  </span>
                </p>
              </div>
              <div class="field">
                <p class="control has-icons-left has-icons-right">
                  <input
                    id="email-signup"
                    class="input"
                    type="email"
                    placeholder="Email"
                  />
                  <span class="icon is-small is-left">
                    <i class="fa fa-envelope"></i>
                  </span>
                </p>
              </div>
              <div class="field">
                <p class="control has-icons-left">
                  <input
                    id="password-signup"
                    class="input"
                    type="password"
                    placeholder="Password"
                  />
                  <span class="icon is-small is-left">
                    <i class="fa fa-lock"></i>
                  </span>
                </p>
              </div>
              <div class="control">
                <button
                  id="#submit-signup"
                  class="button is-primary"
                  type="submit"
                >Submit</button>
              </div>
            </form>
            <!--bulma sign-up form end -->
          </div>

        </div>

        <button
          id="modal-close-signup"
          class="modal-close is-large"
          aria-label="close"
        ></button>

      </div>
      <!-- modal sign up end -->
      <!-- modal login -->
      <div id="modal-login" class="modal">
        <div id="modal-background-login" class="modal-background"></div>

        <div class="modal-content">
          <div class="box">
            <h1 class="title">Login</h1>
            <!-- bulma login form-->
            <form id="login-form">
              <div class="field">
                <p class="control has-icons-left has-icons-right">
                  <input
                    id="email-login"
                    class="input"
                    type="email"
                    placeholder="Email"
                  />
                  <span class="icon is-small is-left">
                    <i class="fa fa-envelope"></i>
                  </span>
                </p>
              </div>
              <div class="field">
                <p class="control has-icons-left">
                  <input
                    id="password-login"
                    class="input"
                    type="password"
                    placeholder="Password"
                  />
                  <span class="icon is-small is-left">
                    <i class="fa fa-lock"></i>
                  </span>
                </p>
              </div>
              <div class="control">
                <button
                  id="#submit-login"
                  class="button is-primary"
                  type="submit"
                >Submit</button>
              </div>
            </form>
            <!--bulma login form end -->
          </div>
        </div>
        <button
          id="modal-close-login"
          class="modal-close is-large"
          aria-label="close"
        ></button>
      </div>
      <!-- modal login end -->
    </div>
    <script src="/javascript/index.js"></script>
    <script src="/javascript/login.js"></script>
    <script src="/javascript/signup.js"></script>
    <script src="/javascript/logout.js"></script>
   </body>

</html>
