<div> 
    <table class="table">
        <thead class="is-size-3">
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Address
                </th>
                <th>
                    RSVP'D
                </th>
                <th>
                    Number of Guests
                </th>
                <th>
                    Food Choice
                </th>
                <th>
                    Edit/Delete
                </th>

            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    
                </td>
            </tr>
        </tbody>
    </table>
</div>