<div class="hero-image">

</div>
<div class="is-size-1 home-page-text">
  <section class="pt-6 has-text-centered">
    <p>
      Let us help you plan your dream wedding!
    </p>
    <p>We take the guess work out of creating your guest list.</p>
  </section>
</div>